{{#if products.length }}
     <h2 class="text-center alert alert-success mb-0">List of products</h2>
<table class="table table-dark table-hover text-center mb-0">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
    </tr>
</thead>
{{#each products}}
    <tr>
        <td> {{name}} </td>
        <td> {{price}} </td>
        <td><img src="{{thumbnail}}" alt="{{name}}" height="40px" width="40px"></td>
    </tr>
{{/each}}
</table>
{{else}}
    <h3 class="alert alert-danger">There is not data</h3>
{{/if}}

<a href="/" class="btn btn-info">Back to form</a>
