html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
        title Product Form
    body 
        h1= 'Product Form ⚡'

        a(
           href="/products"
           class="btn btn-warning mb-4"
        )= "View Products"
        form(
            action="/products"
            method="post"
        ) 
            label(.form-label .form-control for="name")= "Name:"
            input(type="text" id="name" name="name" placeholder="Type the name" class="form-control w-25" required)
            br
            label(.form-label .form-control for="price")= "Price:"
            input(type="text" id="price" name="price" placeholder="Type the Price" class="form-control w-25" required)
            br
            label(.form-label .form-control for="thumbnail")= "Image URL:"
            input(type="text" id="thumbnail" name="thumbnail" placeholder="Type url of the image" class="form-control w-25" required)
            br
            input(type="submit" value="Submit" class="btn btn-primary")
    
    
        